<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!-- Import von CSS-Dateien -->
    <link rel="stylesheet" type="text/css" href="/general.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
  </head>

  <body>
    <!-- Header -->
    <%- include("includes/header") %>

    <main>
      <!-- Sortierknöpfe -->
      <div class="order-div">
        <button class="order-buttons" onclick="location.href='/index.ejs';">Neuste</button>
        <button class="order-buttons" onclick="location.href='/oldest-index.ejs';">Älteste</button>
        <button class="order-buttons-active" onclick="location.href='/mostpopular-index.ejs';">Beliebteste</button>
      </div>

      <!-- Artikelübersicht -->
      <div class="articles">
        <% articles.forEach(article => { %>
          <div class="article-div" onclick="location.href='/article/<%= article.id %>';">
            <img src="articles/<%=article.id%>.jpg" class="article-image">
            <div class="article-text">
              <p class="article-title"><%= article.title %></p>
              <p class="article-description"><%= article.article.slice(0, 300) %>...</p>
            </div>
          </div>
        <% }) %>
      </div>
    </main>

    <!-- Footer -->
    <%- include("includes/footer") %>
  </body>
</html>

